<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <h1>Panel obsługi doniczki</h1>
    <ul>
        <li><a href="charts">Pokaż wykresy</a></li>
        <li><a href="log">Pokaż log'i</a></li>
        <li><a href="water-config">Ustawienia konfiguracji wody</a></li>
        <li><a href="servo-config">Ustawienia konfiguracji obrotu</a></li>
        <li><a href="other-config">Inne ustawienia</a></li>
    </ul>

    <br>
    <br>
    <br>
    {{config[0]}}
    {{config[1]}}
    {{config[2]}}
    {{config[3]}}
    {{config[4]}}
    {{config[5]}}
    {{config[6]}}
    {{config[7]}}
    {{config[8]}}
</body>
</html>